body{
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

/* GLOBAL STYLES */

img {
  max-width: 5vw;
}

a {
  color: black;
  text-decoration: none;
}

/* MENU SECTION */

nav {
  position: sticky;
  top: 0;
  /* background-color: #FFDE0A; */
}

nav > ul {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  list-style-type: none;
  padding: 2.5vh 0px;
  margin: 0;
  
}

nav > ul > a {
  color: black;
  text-decoration: none;
  padding: 0 3vh;
  border-bottom: 1px solid rgba(0,0,0, 0);
  transition: .5s;
}

nav > ul > a:hover {
  color: black;
  border-bottom: 1px solid rgba(0,0,0, 1);
}

